/* 
.animatedBorder {
  background: linear-gradient(
    120deg,
    #ff00cc,
    #3333ff,
    #00ffff,
    #c6c45d,
    #ffff00,
    #ff6600,
    #ff0000,
    #008080
  );
  background-size: 550% 550%;
  animation: spinBorder 6s linear infinite;

  padding: 2px;
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

@keyframes spinBorder {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
} */

.animatedBorder {
  background: linear-gradient(
    135deg,
    #be69a8,
    #00802d
  );
  background-size: 300% 300%;
  animation: crossFlow 5s ease-in-out infinite;

  padding: 2px;

  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

@keyframes crossFlow {
  0% {
    background-position: top left;
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: top left;
  }
}
