@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-mainGreen: #008080;
  --color-darkGreen: #001a1a;
  --color-skyBlue: #1bd5ea;
  --color-lightBlue: #89cff0;
  --color-loginBlue: #025757;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
  0% {
    background-position: 0% 0%;
    }
  50% {
    background-position: 100% 100%;
    }
  to {
    background-position: 0% 0%;
    }
  }
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear
;
  @keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);}}
  @keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);}
  15%, 35% {
    transform: translateZ(0) rotate(90deg);}
  65%, 85% {
    transform: translateZ(0) rotate(270deg);}
  100% {
    transform: translateZ(0) rotate(360deg);}}}

.transition-effects {
  @apply transition duration-300 ease-in-out transform hover:scale-110 cursor-pointer;
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* styles/globals.css or your base stylesheet */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.transition-effects {
  @apply transition duration-300 ease-in-out transform hover:scale-110 cursor-pointer;
}

.padding-lr{
  @apply lg:px-40  md:px-30 sm:px-10 px-6
}

.label-styles{
    @apply  block text-lg font-medium text-gray-900
  }
  .dropdown-styles{
    @apply w-full appearance-none rounded-lg bg-white py-2 pr-8 pl-3 text-base text-gray-900 border border-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500 relative z-50
  }
  .textbox-styles{
    @apply block w-full rounded-lg bg-white px-3 py-2.5 text-lg text-gray-900 outline-1 -outline-offset-1 outline-gray-200 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-gray-500 sm:text-sm/6
  }
/* demo - bg-img scroll */
@keyframes bg-scroll-in {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

.bg-scroll-contained {
  animation: bg-scroll-in 20s linear infinite;
  background-repeat: no-repeat;
  background-position: center top;
}

/* slider- home page */
.mySwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mySwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

/* home - image -qr -  second image*/
@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animated-border-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 9999px; /* fully rounded */
  padding: 5px; /* space for the animated border */
  background: conic-gradient(from 0deg, #de3b3b, #0F5353, #f36202);
  animation: rotateBorder 4s linear infinite;
}

.animated-border-inner {
  border-radius: 20px;
  overflow: hidden;
  background: white; 
}

/* home - image -qr -  3- image*/
@keyframes borderSpin {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0;
  }
}

.animated-border {
  position: relative;
  display: inline-block;
  border-radius: 9999px;
  padding: 5px;
  background: linear-gradient(60deg, #f6ee03, #ef0303, #fb03e6);
  background-size: 200% 200%;
  animation: borderSpin 3s linear infinite;
}

.animated-border-inner {
  border-radius: 9999px;
  overflow: hidden;
}

/* home - image -qr - 4- image*/
@keyframes borderSpinBox {
  0% {
    background-position: 500% 0;
  }
  100% {
    background-position: 0 500% ;
  }
}

.animated-borders {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(60deg, #68f603, #0F5353, #fb03e6);
  background-size: 200% 200%;
  animation: borderSpinBox 3s linear infinite;
}

.animated-border-outer {
  border-radius: 9999px;
  overflow: hidden;
}


  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }

  .animated {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(20deg, #f67d03, #fa01af, #fbe203);
  background-size: 200% 200%;
  animation: wiggle 3s linear infinite;
}


